.form-input {
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 600px;
  padding: 25px;
}

.form-input input {
  padding: 3px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
  border: 1px;
  border-color: black;
  border-style: solid;
  background-color: white;
  width: 300px;
}

.form-input select {
  padding: 3px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  border-radius: 30px;
  border-color: black;
  border-style: solid;
  background-color: white;
  width: 300px;
  color: black;
}

.form-input button {
  padding: 5;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #38b000;
  border-style: none;
  font-weight: 10;
  width: 300px;
  color: black;
}